@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: local('PT Serif Bold'), local('PTSerif-Bold'), url('/fonts/PTSerif-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url('/fonts/SourceSansPro-Light.woff') format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('/fonts/SourceSansPro-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url('/fonts/SourceSansPro-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Core-icons';
  src: url('/fonts/Core-icons.eot');
  src: url('/fonts/Core-icons.svg#Core-icons') format('svg'), url('/fonts/Core-icons.eot?#iefix') format('embedded-opentype'), url('/fonts/Core-icons.woff') format('woff'), url('/fonts/Core-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}