@model KenticoCloud.Compose.RichText.Models.IInlineImage
<div style="float: right; margin: 15px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); text-align: center;">
    <a href="@Model.Src" target="_blank" style="text-decoration: none;">
        <figure>
            <img src="@Model.Src" alt="@Model.AltText" style="width: 200px; box-shadow: black 10px 10px inset" />
        </figure>
        <div style="padding: 10px">
            @Model.AltText
            <br />
            <em style="color: silver">[Inline image]</em>
        </div>
    </a>
</div>
