@using DancingGoat.Helpers.Extensions
@model DancingGoat.Areas.Admin.Models.ProjectModel

<div>
    @Html.StyledRadioButtonFor(vm => vm, Model.ProjectId, new { Name = "projectId" }, Model.ProjectName)
</div>