@model string

<section>
    <h1>Inactive Non-Expired Subscription</h1>
    <p>Your subscription in Kentico Cloud is <em>inactive</em>. You may wish to get in touch with <a href="mailto:support@kentico.com">support@kentico.com</a> to activate it. Then, you can run the app again.</p>
</section>
<section>
    @Html.Partial("_FreePartial", Model)
</section>
<section>
    @Html.Partial("_SharedGeneralPartial")
</section>