@model DancingGoat.Areas.Admin.Models.ExpiredViewModel

<section>
    <h1>Expired Subscription</h1>
    <p>Your subscription in Kentico Cloud has expired at @Model.EndAt.Value.ToString("m"). Would you like to switch to the free plan? You may wish to lower your resources to fit the limits of the free plan first.</p>
</section>
<section>
    @Html.Partial("_FreePartial", Model.Token)
</section>
<section>
    @Html.Partial("_SharedGeneralPartial")
</section>