@model DancingGoat.Areas.Admin.Models.SelectProjectViewModel

<section>
    <h1>Inactive Non-Expired Subscriptions</h1>
    <p>Your subscriptions in Kentico Cloud are <em>inactive</em>. If you own one of them, you may wish to get in touch with <a href="mailto:support@kentico.com">support@kentico.com</a> to activate it.</p>
</section>
@if (Model.Projects != null)
{
    <section>
        @Html.Partial("_ProjectsPartial", Model)
        <p>The app will be configured with the project ID of the selected project.</p>
    </section>
}
else
{
    <section>
        @Html.Partial("_FreePartial")
    </section>
    <section>
        @Html.Partial("_SharedGeneralPartial")
    </section>
}

@section Scripts
{
    @Scripts.Render("~/Areas/Admin/Scripts/selectProject.js")
}