<h1>No Subscriptions Found</h1>
<p>You are no longer associated with any subscriptions.</p>

<h2>Use the Shared Project ID</h2>
<p>If you haven't modified the code, you can configure the app with the shared project ID.</p>
@Html.Partial("_SharedPartial")
@Html.Partial("_ProjectIdPartial", new DancingGoat.Areas.Admin.Models.SelectProjectViewModel())