@model DancingGoat.Areas.Admin.Models.SelectProjectViewModel

<h1>Select or Create a Project</h1>
<p>You may wish to either select from existing projects or create a new sample project. The app will be configured with its project ID.</p>
@Html.Partial("_WarningPartial")
@Html.Partial("_ProjectsPartial", Model)
@Html.Partial("_DeploySamplePartial")

@section Scripts
{
    @Scripts.Render("~/Areas/Admin/Scripts/selectProject.js")
}