@{
    ViewBag.Title = Resources.DancingGoat.NotFound_Title;
}

<div class="row">
    <div class="not-found">
        <div class="col-md-5 col-lg-4 col-lg-offset-1 sm-hidden xs-hidden">
            <img class="img-responsive" alt="Page not found" src="@Url.Content("~/Content/Images/404.jpg")">
        </div>
        <div class="col-md-7 col-lg-6">
            <div class="not-found-content">
                <h2 class="">
                    Oops! Some content wasn't found...
                </h2>
                <p>We're really sorry, but it seems the content you requested isn't published in your Sample Project in Kentico Kontent. The content might have been unpublished or deleted.</p>
                <p>
                    @Html.Raw(string.Format(Resources.DancingGoat.NotFound_Instructions,
                        Html.ActionLink(Resources.DancingGoat.NotFound_Homepage, "Index", "Home"),
                        "<a target='_blank' href='https://kontent.ai/contact'>contact us</a>"))
                </p>
                <a href="@Url.Action("Index", "Home")" class="btn">
                    @Resources.DancingGoat.NotFound_GoHome
                </a>
            </div>
        </div>
    </div>
</div>
