@model Kentico.Kontent.Delivery.IInlineImage

<div class="article-inline-image">
    <a href="@Model.Src" target="_blank">
        <figure>
            @Html.InlineImage(Model)
        </figure>
        @if (!string.IsNullOrEmpty(Model.AltText))
        {
            <div class="inline-image-title">
                @Model.AltText
            </div>
        }
    </a>
</div>
