@{
    @model DancingGoat.Models.MoreButtonPartialViewModel
}
<div class="row">
    <div class="clear center-text">
        <a href="@Model.Url" class="btn btn-more">
            @Model.Text
        </a>
    </div>
</div>
