@{
    @model DancingGoat.Models.MoreButtonPartialViewModel
}
<div class="row">
    <div class="clear center-text">
        <a asp-controller="@Model.Controller" asp-action="@Model.Action" class="btn btn-more">
            @Model.Text
        </a>
    </div>
</div>
