@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container product-page-container">
    <nav role="navigation" class="sub-menu row">
        <div class="store-menu-list row">
            <ul>
                <li>
                    <a asp-controller="Coffees" asp-action="Index">@Localizer["Coffees"]</a>
                </li>
                <li>
                    <a asp-controller="Brewers" asp-action="Index">@Localizer["Brewers"]</a>
                </li>
            </ul>
        </div>
    </nav>
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("scripts", required: false)
}