@using DancingGoat.Utils
@model DancingGoat.Models.EditPanelViewModel
@functions {
    public string ProjectGuid => ProjectUtils.GetProjectId();
}

<div class="edit-mode-panel">
    <div class="edit-toggle">
        <label class="edit-toggle__switch">
            <input id="edit-mode-switch" type="checkbox" onchange="toggleEditMode(this.checked)" autocomplete="off">
            <span class="slider round"></span>
        </label>
        <div class="edit-toggle__caption">
            <span class="edit-toggle__title">Edit mode</span>
        </div>
    </div>
    <div class="preview-toggle">
        <label class="preview-toggle__switch">
            <input class="preview-mode-switch" type="checkbox" onchange="togglePreviewMode(this.checked, '@ProjectGuid', true)
                   " autocomplete="off">
            <span class="slider round"></span>
        </label>
        <div class="preview-toggle__caption">
            <span class="preview-toggle__title">Preview mode</span>
        </div>
    </div>

    <div class="footer-navigate-link">
        <a target="_blank" href="@Model.ItemUrl">Open content item in KC</a>
    </div>
</div>

