@model DancingGoat.Models.EditPanelViewModel

<div class="edit-mode-panel">
    <div>
        <div class="edit-mode-panel__toggle">
            <label class="switch">
                <input id="edit-mode-switch" type="checkbox" onchange="toggleEditMode(this.checked)" autocomplete="off">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="edit-mode-panel__caption">
            <span class="edit-mode-panel__title">Edit mode</span>
        </div>
    </div>
    <div class="edit-mode-panel__navigate-link">
        <a target="_blank" href="@Model.ItemUrl">Open content item in KC</a>
    </div>
</div>

