@model dynamic
@{
    string name = Model.System.Name;
    ViewBag.Title = name;
    KenticoCloud.Delivery.Asset image = Model.Image[0];
    bool isCoffee = Model is DancingGoat.Models.Coffee;
    bool showForm = isCoffee;
}
<article class="product-detail">
    <div class="row">
        <div class="col-md-12">
            <header>
                <h2>@name</h2>
            </header>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-lg-7 col-md-6">
            <figure class="image">
                <img src="@image.Url" alt="@image.Name" />
            </figure>
            <div class="description">
                @Html.Raw(Model.ShortDescription ?? Model.LongDescription)
                @if (isCoffee)
                {
                    Html.RenderPartial("_CoffeePartial");
                }
            </div>
        </div>
        @if (showForm)
        {
            Html.RenderPartial("_FreeSampleFormPartial");
        }
    </div>
</article>
@section Scripts
{
    @if (showForm)
    {
        <script type="text/javascript">
            $(function () {
                $("#getfreetaste").validate({
                    rules: {
                        email: "email",
                        zipcode: "digits"
                    }
                });
            });
        </script>
    }
}
