<h2>Create a New Sample Project</h2>
<p>You can create a new sample project. The app will be configured with its project ID. The name of the new project will contain the current date (to distinguish it from possible other sample projects).</p>

@using (Html.BeginForm("DeploySample", "SelfConfig", FormMethod.Post, new { id = "deploySample" }))
{
    <input type="submit" class="button-@ViewBag.ButtonType" value="Create a sample project" />
}