@model string

<h2>Convert To The Free Plan</h2>
@using (Html.BeginForm("Free", "SelfConfig"))
{
    <input type="hidden" name="token" value="@Model" />
    <input type="submit" value="Convert to free plan" />
}
