@using DancingGoat.Areas.Admin.Models
@{
    var routeDataMessageBody = Context.Request.Query["MessageBody"].FirstOrDefault();
    var routeDataMessageType = Context.Request.Query["MessageType"].FirstOrDefault();
    MessageModel viewBagMessage = null;
    string imageName = null;

    if (ViewBag.Message != null)
    {
        viewBagMessage = ViewBag.Message;
        imageName = CreateImageNameFromMessageType(viewBagMessage.MessageType);
    }

    if (!string.IsNullOrEmpty(routeDataMessageType))
    {
        imageName = routeDataMessageType.ToLowerInvariant();
    }
}

@functions
{
    static string CreateImageNameFromMessageType(MessageType messageType)
        => messageType.ToString().ToLowerInvariant();

    void MessageImage(string imageName)
    {
        <div class="user-message__img user-message__img--@imageName"></div>
    }
}

@if ((!string.IsNullOrEmpty(ViewBag.ErrorMessage)) || (!string.IsNullOrEmpty(routeDataMessageBody)))
{
    <section class="messages kk-container">
        <h2 class="hidden">Message</h2>
        @{
            if (viewBagMessage != null)
            {
                <table class="user-message message-@imageName">
                    <tr>
                        <td>
                            @{ MessageImage(imageName); }
                        </td>
                        <td>
                            <p>
                                @viewBagMessage.Message
                            </p>
                        </td>
                    </tr>
                </table>
            }

            if (!string.IsNullOrEmpty(routeDataMessageBody) && !string.IsNullOrEmpty(routeDataMessageType))
            {
                <table class="user-message message-@imageName">
                    <tr>
                        <td>
                            @{ MessageImage(imageName); }
                        </td>
                        <td>
                            <p>
                                @routeDataMessageBody
                            </p>
                        </td>
                    </tr>
                </table>
            }
        }
    </section>
}
else
{
    <section class="messages" style="display:none">
        <h2 class="hidden">Message</h2>
        <table class="user-message message-error">
            <tr>
                <td>
                    @{ MessageImage(CreateImageNameFromMessageType(MessageType.Error)); }
                </td>
                <td>
                    <p class="message-text"></p>
                </td>
            </tr>
        </table>
    </section>
}