@model DancingGoat.Areas.Admin.Models.ProjectIdViewModel

@using (Html.BeginForm("UseProjectId", "SelfConfig"))
{
    <h2>Submit A Project ID Directly</h2>
    <p>Alternatively, you can configure your app manually by submitting a project ID below.</p>
    <p>
        @Html.EditorForModel()
    </p>

    <input type="submit" value="Submit" />
}