@using DancingGoat.Helpers.Extensions
@model DancingGoat.Areas.Admin.Models.SelectProjectViewModel

@{
    Model.ManualInput = true;
}

@using (Html.BeginForm("SelectProject", "SelfConfig"))
{
    <h2>Set A Project ID Manually</h2>
    <p>Alternatively, you can configure your app manually by submitting a project ID below.</p>
    <div class="inline-controls">
        @Html.ValidatedEditorFor(vm => vm.ProjectId)
        @Html.HiddenFor(vm => vm.ManualInput)
        <input type="submit" class="button-@ViewBag.ButtonType" value="Submit" />
    </div>
}