@model DancingGoat.Areas.Admin.Models.SelectProjectViewModel

@using (Html.BeginForm("SelectProject", "SelfConfig"))
{
    <h2>Set A Project ID Manually</h2>
    <p>Alternatively, you can configure your app manually by submitting a project ID below.</p>
    <p>
        @Html.EditorFor(vm => vm.ProjectId)
    </p>

    <input type="submit" value="Set project ID" />
}