<h2>Use The Shared Project</h2>
<p>Alternatively, you may wish to use the shared project.</p>
@using (Html.BeginForm("Shared", "SelfConfig"))
{
    <input type="submit" value="Use shared project" />
}
