<h2>Use the Shared Project</h2>
<p>Alternatively, you may wish to use the shared project (project ID "975bf280-fd91-488c-994c-2f04416e5ee3").</p>
<p><strong>Note:</strong> You cannot edit content in the shared project.</p>
@Html.Partial("_SharedPartial")