@using DancingGoat.Helpers.Extensions
@model DancingGoat.Areas.Admin.Models.SignInViewModel

<h3>Sign In</h3>
<p>
    @Html.ValidatedEditorFor(vm => vm.Email)
    @Html.ValidatedEditorFor(vm => vm.Password)
</p>
<input type="submit" class="button-@ViewBag.ButtonType" value="Sign in" />
@if (ViewBag.ShowSwitcher != null && ViewBag.ShowSwitcher == true)
{
    <p><a class="form-tab-switcher" href="#signUpForm">Don't have an account? Sign Up.</a></p>
}