@{ 
    var routeDataMessage = Request.QueryString["Message"];
}

<section id="warning">
    @{
        if (ViewBag.IsLocal != null && !ViewBag.IsLocal && ViewBag.IsTls != null && !ViewBag.IsTls)
        {
            <p class="warning">Make sure you either:</p>
                <ul>
                    <li>run both your app and the browser in one machine, or</li>
                    <li>run your app using the TLS protocol (with a url starting with "https://")</li>
                </ul>
                <p>Otherwise, malicious users may intercept the security token used for authentication.</p>
        }

        if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <p class="warning">
                @ViewBag.WarningMessage
            </p>
        }

        if (!string.IsNullOrEmpty(routeDataMessage))
        {
            <p class="warning">
                @routeDataMessage
            </p>
        }
    }
</section>