@model DancingGoat.Areas.Admin.Models.MessageModel

<header class="full-height">
    <div class="container">
        <h1 class="headline-large">Error: @Html.DisplayFor(vm => vm.Caption)</h1>
        <p class="color-alert-text margin-top-l">@Html.DisplayFor(vm => vm.Message)</p>
    </div>
</header>