@model DancingGoat.Areas.Admin.Models.MessageModel

<header class="full-height">
    <div class="content">
        <h1>Error: @Html.DisplayFor(vm => vm.Caption)</h1>
        <p>@Html.DisplayFor(vm => vm.Message)</p>
    </div>
</header>